.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.softWhite{
    background-color:rgba(255, 255, 255, 0.897); 
}




.imgpn {
    width: 250px;
    height: 250px;
    border: 1px solid rgb(0, 0, 0);
    
}

.separar1{
    margin-top: 10%;
    
}


.carousel-inner img {
    width: 100%;
    height: 100%;
}

.colorCeleste {
    color: rgb(103, 180, 216)

}

.colorMorado {
    color: rgb(189, 79, 156);
}

.colorAmarillo{
    color: rgb(255, 193, 7);
}

.fondoMorado{
    background-color:rgb(189, 79, 156);
}

.fondoCeleste{
    background-color: rgb(103, 180, 216);
}

.fondoAmarillo{
    background-color: rgb(255, 193, 7);
}

#imgMisPedidos{
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    height: 50%;
    
}

#pedidoCard{
    margin-top: 1%;
    width: 50%;
    height: 95%;
    background-color:rgb(33, 36, 36);
}

.textareaSinMovimiento{
    resize: none;
}

.backgroundBody {
    background-image: url("../IMG/FondoLogin\ \(final\).png");
    background-size: cover;
  }

#bordeSeparacion{
    border-color:red;
}

.oredenarInputs{
    padding-left: 15%;
    padding-right: 15%;
}
/*↓-↓-↓-↓-↓-↓-↓-↓-↓-↓-Pagina de Ayuda Usuario-↓-↓-↓-↓-↓-↓-↓-↓-↓-↓-↓-↓-↓-↓-↓-↓-↓*/
#cuadroAyuda{
    border-style: solid;
    border-color: rgb(189, 79, 156);
    border-width: 3px;
    height: 600px;
    display: flex;
    flex-direction: column;
    
}

#textAreaAyuda{
    width: 800px;
    height: 60px;
    border-color: rgb(33, 36, 36);
    border-style: solid;
    border-width: 1px;
    align-self: center;
}

#iconoAdminAyuda{
    font-size: 70px;
    margin: 3px;
    margin-top: 8px;
}

/*#mainDivParteInferioirAyuda{
    height: 900px;
    align-self: flex-end;
}*/

#parteInferiorAyuda{
    width: 900px;
    margin-left: 70px;
    display: inline-flex;
    position: relative; top: 220px;
    
}

#iconosInferiorAyuda{
    align-self: center;
    color: rgb(33, 36, 36)
}

.collapseButton{
    justify-self: center;
    border-radius: 5px;
    border-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:hover{
    color: rgb(255, 193, 7);
  }

#triangulo{
    width: 0;
    height: 0;
    border-right: 30px solid rgb(103, 180, 216);
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.dialogCuadrado{
    width: 100%;
    height: 80px;
    background-color: rgb(103, 180, 216);
    display: flex;
    align-items: center;
    text-align:center;
    box-sizing: border-box;
}

#ayudaDialog{
    width: 800px;
    height: 100px;
    margin-top: 40px;
    display: flex;
    position: relative; bottom: 30px; left: 60px;
}

.barraMenuAdmin{
    display: flex;
    justify-content:space-around;
}

.ulBarraAdmin{
    align-self: flex-end;
}

#parteInferiorAyudaAdmin{
    display: inline-flex;
    position: relative; top: 70px;
    
}

.centeredLabel{
    display: flex;
    justify-content: center;
    font-size:x-large;
}

#divSubirImagen{
    height: 200px;
    display: flex;
    flex-direction: column;
}

#sendMessageButton{
    height: 60px;
    align-self: center;
    justify-self: end;
    outline: none;
    margin-left: 4px;
    background-color: rgb(189, 79, 156);
}

#loadImageButton{
    height: 60px;
    align-self: center;
    justify-self: end;
    outline: none;
    margin-left: 4px;
    background-color: rgb(189, 79, 156);
}

#iconoSubirImagen{
    width: 40px;
    height: 40px;
}

#dialogUsuario{
    width: 500px;
    height: 80px;
    margin-bottom: 2px;
    background-color: rgb(103, 180, 216);
    display: flex;
    align-self: flex-end;
    align-items: center;
    text-align:center;
    box-sizing: border-box;
}

#alertAyuda{
    display: none;
    width: 750px;
    height: auto;
    margin-left: 110px;
    position: relative;
    top: 150px;
    word-wrap: break-word;
}
/*↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-Pagina de Ayuda Usuario-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑-↑*/
#creditCardList{
    width: 100%;
    display: flex;
    justify-content: center;
}

#profileMainDiv{
    display: flex;
    justify-content: space-between;
}

#profileMenu{
    width: 15%;
    height: 250px;
    margin-top: 150px;
    margin-left: 80px;
    background-color: rgba(60, 60, 60, 0.637);
    border: 3px solid rgb(189, 79, 156);
}

#profileMenu ul > li{
    list-style: none;
}

#profileMenu ul > li > a{
    display: block;
    font-size: 21px;
    color: rgb(103, 180, 216);
    text-decoration: none;
    padding: 15px;
    padding-left: 15px;
    
}

#profileMenu ul > li > a:hover{
    background: rgb(255, 193, 7);
    color: rgb(33, 36, 36);
}

#profileDisplayDiv{
    display: flex;
    width: 1000px;
    height: 500px;
    margin-top: 145px;
    margin-bottom: 145px;
    margin-right:  250px;
    background-color: rgb(103, 180, 216);
}

#comment{
    height: 250px;
    max-height: 392px;
    min-height: 100px;
}

.colorDeFondo{
    background-color: rgba(60, 60, 60, 0.637);
}

#sectionVideojuegos{
    height: 600px;
    display: block;
    justify-content: center;
    margin-top: 100px;
}

.barraDeFiltrarYOrdenarProductos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 50px;
    padding-left: 10px;
    padding-right: 6px;
    border: 2px solid rgb(189, 79, 156);
    border-radius: 2%;
    background-color: rgb(33, 36, 36);
}

.barraDeFiltrarYOrdenarProductos > a{
    width: 50px;
    height: 25px;
    padding-right: 2px;
    text-decoration: none;
    color: rgb(103, 180, 216);
}

.divOrdenarPor{
    display: flex;
    justify-content: space-between;
    width: 210px;
    height: 25px;
    color: rgb(103, 180, 216);
}

.dropbtn {
    background-color: rgb(33, 36, 36);
    color: rgb(103, 180, 216);
    width: 120px;
    padding-left: 1px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }

.dropbtn:focus{
    outline: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(33, 36, 36);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: rgb(103, 180, 216);
    padding: 12px 16px;
    font-size: 14px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: black}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/*Definimos el tamaño del mapa de Google a mostrar*/
#map {
	height: 200px;
	width: 500px;
}




#map1 {
	height: 200px;
	width: 500px;
}

#map2 {
    height: 200px;
    width: 500px;
}

.ayudaUsuariobtn{
    height: 80px;
    width: 80px;
    
}

.estandarImagenVideojuegos{
    height: 200px;
    width: 300px;
}

.borderProductosVideojuegos{
    border: 2px solid rgb(189, 79, 156);
}

.horizontalLine{
    background-color:rgb(189, 79, 156);
    height: 2px;
}

/*Para ajustar la imagen cuando el tamaño de la pantalla llegue a 574 pixeles*/
@media only screen and (max-width: 574px) {
    .estandarImagenVideojuegos{
        height: 150px;
        width: 160px;
    }
    
}