{% extends 'app_oracle/base.html' %}
{% block contenido %} 
<!--Icono asociar tarjeta-->
    <div class="d-flex justify-content-center fondoMorado">
        <h1 class="mt-2">Asociar tarjeta</h1>
    </div>
    <div class="d-flex flex-column bg-dark">
    <br>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <i class="fas fa-credit-card text-white fa-10x"></i>
    </div>
    <!--Icono asociar tarjeta-->
    <div class="container-fluid">
        <!--Formulario de registro-->
        <form action="/action_page.php">
            <div class="form-group centeredLabel colorMorado" style="padding-top: 2%; padding-left: 15%; padding-right: 15%;">
                <label for="nombre" class="d-flex justify-content-center">Nombre titular</label>
                
                <input type="text" class="form-control text-lg-center" placeholder="Ingrese el nombre de titular" id="titular">
            </div>
            <div class="form-group centeredLabel colorMorado" style="padding-left: 15%; padding-right: 15%;">
                <label for="numeroTarjeta" class="d-flex justify-content-center">°N. de tarjeta débito o crédito</label>
                <input type="text" class="form-control text-lg-center" placeholder="Ingrese el °N. de su tarjeta" id="numTarjeta">
            </div>
            <div class="form-group centeredLabel colorMorado" style="padding-left: 15%; padding-right: 15%;">
                <label for="tipoTarjeta" class="d-flex justify-content-center">Seleccione tipo de tarjeta</label>
                <select class="form-control" name="tipoTarjeta" id="tipoTarjeta" style="text-align-last: center;">
                    <option>Seleccione su tipo de tarjeta</option>
                    <option>Visa</option>
                    <option>Mastercard</option>
                    <option>American express</option>
                    <option>Discover</option>
                </select>
            </div>
            <div class="form-group centeredLabel colorMorado" class="d-flex justify-content-center"
                style="padding-left: 15%; padding-right: 15%;">
                <label for="codTarjeta" class="d-flex justify-content-center">Código de seguridad(CVV)</label>
                <input type="text" class="form-control text-lg-center" placeholder="Ingrese el CVV de su tarjeta" id="codTarjeta">
            </div>
            <div class="form-group centeredLabel colorMorado" class="d-flex justify-content-center" style="padding-left: 15%; padding-right: 15%;">
                <label for="fecVencimiento" class="d-flex justify-content-center">Ingrese la fecha de vencimiento de su tarjeta</label>
                <input type="date" class="form-control text-lg-center" placeholder="" id="fecVencimiento">
            </div>
            <br>
            <!--Botones de cancelar y registrar-->
            <div class="d-flex justify-content-around">
                <a href="Editar perfil.html"><button type="button" class="btn btn-info">Cancelar</button></a>
                <a href="Editar perfil.html"><button type="button" class="btn fondoMorado text-light">Asociar</button></a>
            </div>
            <!--Botones de cancelar y registrar-->
        </form>
        <!--Formulario de registro-->
    </div>
</div>
{% endblock contenido %} 