{% extends 'app_oracle/base.html' %}
{% block contenido %}
        <div class="container-fluid d-flex justify-content-center fondoMorado">
            <h1 class="text-dark pt-2">Ayuda</h1>
        </div>

        <div class="container bg-light mt-5" id="cuadroAyuda">
            <i class="fas fa-user-tie" id="iconoAdminAyuda"></i>
            <div id="ayudaDialog">
                <div id="triangulo">
                </div>
                <div class="dialogCuadrado">
                    <p style="margin: auto;">¿En que podemos ayudarte?
                        Describenos tu problema o duda, puedes adjuntar imagenes de ser necesario
                        Responderemos lo antes posible.</p>
                </div>
            </div>
            <div id="alertAyuda" class="alert alert-info container">
                <p></p>
            </div>
            <div class="container" id="parteInferiorAyuda">
                <textarea class="form-control textareaSinMovimiento" rows="5" id="textAreaAyuda" placeholder="Escribir mensaje"></textarea>
                <button id="sendMessageButton" type="button"><i class="fas fa-paper-plane fa-2x m-2" id="iconosInferiorAyuda"></i></button>
                <button id="loadImageButton" type="button" data-toggle="modal" data-target="#subirImagen"><i class="fas fa-file-image fa-2x m-2" id="iconosInferiorAyuda"></i></button>
            </div>
        </div>
        <br>
        <!--Seccion de preguntas frecuentes-->
        <div class="container-fluid d-flex justify-content-center">
        <button data-toggle="collapse" data-target="#demo" class="container collapseButton">Preguntas
            frecuentes</button>

        <div id="demo" class="collapse container">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link colorCeleste" data-toggle="collapse" href="#collapseOne">
                            ¿Cómo vender un producto?
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link colorCeleste" data-toggle="collapse" href="#collapseTwo">
                            ¿Cómo cambiar mi contraseña de usuario?
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link colorCeleste" data-toggle="collapse" href="#collapseThree">
                            ¿Cómo cambiar mi foto de perfil?
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            1. Diríjase a "Gestionar perfil" ubicado en la esquina superior derecha. <br>
                            2. Luego, deberá dar click al boton "Editar perfil" ubicado en la esquina superior derecha.
                            <br>
                            3. Ahora podrá dar click a "Subir imagen". <br>
                            4. Al clickear el boton se le pedirá que suba una imagen, despues debera dar click a
                            "Confirmar cambios" para que
                            su foto quede guardada.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link colorCeleste" data-toggle="collapse" href="#collapseFour">
                            ¿Cómo cancelo un pedido?
                        </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            1. Diríjase a "Mis pedidos" ubicado en el menú superior. <br>
                            2. Luego, ubique el pedido que desea cancelar y presione "Cancelar pedido".
                            3. Finalmente, aparecerá un cuadro en el que deberá confirmar la cancelación de su pedido.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link colorCeleste" data-toggle="collapse" href="#collapseFive">
                            ¿Cómo agrego mi tarjeta de crédito y/o débito?
                        </a>
                    </div>
                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            1. Diríjase a "Gestionar perfil" ubicado en la esquina superior derecha.<br>
                            2. Luego, dirijase a "Asociar tarjeta".<br>
                            3. Finalmente, ingrese los datos de su tarjeta y de click al boton "Asociar" para guardar su
                            tarjeta.
                        </div>
                    </div>
                </div>
            </div>
        </div></div>

        <!--Cuadro de subir imagen-->
        <div class="modal fade" id="subirImagen">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Subir imagen</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <input type="file" class="form-control-file border">
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer flex-row justify-content-around">
                        <button type="submit" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn fondoMorado text-white pl-4 pr-4"
                            data-dismiss="modal">Confirmar</button>
                    </div>

                </div>
            </div>
        </div>
        <!--Cuadro de subir imagen-->
        {% endblock contenido %}