{% block contenido %}
<div class="container-fluid d-flex justify-content-center fondoMorado">

            <h1 class="text-dark pt-2">Ayuda</h1>
        </div>


        <div class="row" style="margin-top: 1%;">
        <div class="container col-2" style="margin-left: 2%;">
            <div class="list-group">
              <button id="show"  type="button" class="list-group-item list-group-item-action">Andres Fernando </button>
              <button id="show1"  type="button" class="list-group-item list-group-item-action">Carmen Garcia</button>
              <button id="show2"  type="button" class="list-group-item list-group-item-action">Francisca Fernandez</button>
            </div>
          </div>
        
         
        <div class="container bg-light mt-2 col-7" id="cuadroAyuda" style="height: 620px;">
             <!--Problema 1-->
            <lol>
                <i class="fas fa-user" id="iconoAdminAyuda"></i> <h6 style="padding: 6px;">Andres Fernando</h6>
                <div id="ayudaDialog">
                    <div id="triangulo">
                    </div>
                    <div class="dialogCuadrado">
        
        
                        <h6 style="padding: 6px;">Hola, mi producto llegó roto, me gustaría un reembolso o el envio de un nuevo producto.</h6>
                    </div>
                </div>
                <div>
                    <img src="IMG/producto roto.jpg" alt="ProductoRoto" style="width: 220px; height: 220px; position: relative; left: 110px;">
                </div>
        
                
                

                <div class="container" id="parteInferiorAyudaAdmin">
                    <textarea class="form-control textareaSinMovimiento" rows="5" id="textAreaAyuda" placeholder="Escribir mensaje"></textarea>
                    <button id="sendMessageButton" type="button"><i class="fas fa-paper-plane fa-2x m-2" id="iconosInferiorAyuda"></i></button>
                    <button id="loadImageButton" type="button" data-toggle="modal" data-target="#subirImagen"><i class="fas fa-file-image fa-2x m-2" id="iconosInferiorAyuda"></i></button>
                </div>

            
           </lol> 
            <!--Fin Problema 1-->
            <!--Problema 2-->
            <lol1><i class="fas fa-user" id="iconoAdminAyuda"></i><h6 style="padding: 6px;">Carmen Garcia</h6>
                <div id="ayudaDialog">
                    <div id="triangulo">
                    </div>
                    <div class="dialogCuadrado">
        
        
                        <h6 style="padding: 6px;">Tengo un problema al subir fotos para mis publicaciones.</h6>
                    </div>
                </div>
                <div>
                    <img src="IMG/CapturaErrorSubirFotos.PNG" alt="ProductoRoto" style="width: 220px; height: 220px; position: relative; left: 110px;">
                </div>
        
                
                

                <div class="container" id="parteInferiorAyudaAdmin">
                    <textarea class="form-control textareaSinMovimiento" rows="5" id="textAreaAyuda" placeholder="Escribir mensaje"></textarea>
                    <button id="sendMessageButton" type="button"><i class="fas fa-paper-plane fa-2x m-2" id="iconosInferiorAyuda"></i></button>
                    <button id="loadImageButton" type="button" data-toggle="modal" data-target="#subirImagen"><i class="fas fa-file-image fa-2x m-2" id="iconosInferiorAyuda"></i></button>
                </div></lol1> 
                <!--Fin Problema 2-->

            <!--Problema 3-->
            <lol2><i class="fas fa-user" id="iconoAdminAyuda"></i><h6 style="padding: 6px;">Francisca Fernandez</h6>
                <div id="ayudaDialog">
                    <div id="triangulo">
                    </div>
                    <div class="dialogCuadrado">
        
        
                        <h6 style="padding: 6px;">Hola, el anillo que compre no es de la talla que pedí, me queda grande.</h6>
                    </div>
                </div>
                <div>
                    <img src="IMG/tallaEquivocadaAnillo.jpg" alt="ProductoRoto" style="width: 220px; height: 220px; position: relative; left: 110px;">
                </div>
        
                
                

                <div class="container" id="parteInferiorAyudaAdmin">
                    <textarea class="form-control textareaSinMovimiento" rows="5" id="textAreaAyuda" placeholder="Escribir mensaje"></textarea>
                    <button id="sendMessageButton" type="button"><i class="fas fa-paper-plane fa-2x m-2" id="iconosInferiorAyuda"></i></button>
                    <button id="loadImageButton" type="button" data-toggle="modal" data-target="#subirImagen"><i class="fas fa-file-image fa-2x m-2" id="iconosInferiorAyuda"></i></button>
                </div></lol2> 
                <!--Fin Problema 3-->





        </div>
        <br>
        <div class="col-1"></div>

        <!--Cuadro de subir imagen-->
        <div class="modal fade" id="subirImagen">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Subir imagen</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <input type="file" class="form-control-file border">
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer flex-row justify-content-around">
                        <button type="submit" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn fondoMorado text-white pl-4 pr-4"
                            data-dismiss="modal">Confirmar</button>
                    </div>

                </div>
            </div>
        </div>
        <!--Cuadro de subir imagen-->
        <div class="col-1"></div>
    </div>
       
    <script src="" async defer></script>
    <script src="JavaScript/Validaciones.js"></script>
    {% endblock contenido %}