<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Inicio admin </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="CSS/Estilo.css">
    <!--Para los iconos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--Para los iconos-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!--Para los iconos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--Para los iconos-->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css%22%3E%22%3E">
    <!-- Google Fonts -->
    <link rel=" stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap%22%3E%22%3E">
    <!-- Bootstrap core CSS -->
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" href="CSS/Estilo.css">








</head>


<body class="bg-dark">
    <!--Barra de navegación superior-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark barraMenuAdmin">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img src="{% static 'IMG/FondoLogin (final).png' %}" alt="logo" style="width:180px; height: 80px;">
        </a>

        <!-- Links -->
        <ul class="navbar-nav ulBarraAdmin">
            <li class="nav-item">
                <a class="nav-link text-warning" href="Publicacion.html">Publicaciones por validar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" href="AyudaAdmin.html">Ver preguntas de ayuda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" href="Lista de vendedores.html">Ver lista de vendedores</a>
            </li>
        </ul>
        <div class="d-inline-flex">
            <i class="fas fa-user-secret fa-4x text-info"></i>
            <h6 class="colorMorado align-self-center">Juan Pérez</h6>
            <a href="Bienvenida.html"><button type="button" class="btn btn-outline-info text-light ml-2">Salir</button></a>
        </div>
    </nav>
    <!--Barra de navegación superior-->
    {% block contenido %}
    
    {% endblock contenido %}

    