{% extends 'app_oracle/base.html' %}
{% block title %}Gestionar perfil{% endblock title %}

{% block contenido %}

<div class="container-fluid d-flex justify-content-center fondoMorado">
    <h1 class="text-dark pt-2">Gestionar perfil</h1>
</div>
<div id="profileMainDiv">
    <div id="profileMenu">
        <ul style="padding-left: 0;">
            <li><a href="#">Información del perfil</a></li>
            <li><a href="#">Mis productos en venta</a></li>
            <li><a href="#">Agregar una tarjeta</a></li>
            <li><a href="#">Cerrar sesión</a></li>
        </ul>
    </div>

    <div id="profileDisplayDiv">
        {% block Seccion_perfil_div %}

        {% endblock Seccion_perfil_div %}
    </div>
</div>
{% endblock contenido %}