<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Para los iconos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--Para los iconos-->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css%22%3E">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap%22%3E">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    </style>
>
    <link rel="stylesheet" href="{% static 'CSS/Estilos.css' %}"
</head>

<body class="bg-dark">
<!--Barra de navegación superior-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 bg-dark">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'IMG/Icono YEPA.png' %}" alt="logo" style=" margin-left: 15%;">
                </a>
            </div>
            <div class="col-sm-5 bg-dark">
                <form class="form-inline" action="/action_page.php">
                    <input type="search" class="form-control" id="search" style="width: 630px;" placeholder="Buscar producto">
                    <button class="btn fondoMorado text-light p-2" type="submit">Buscar</button>
                </form>
                <div class="row">
                    <div class="col-sm-12 bg-dark">
                        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-info" href="{% url 'categorias' %}">Categorías</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-info" href="{% url 'pedidos' %}">Mis pedidos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-info" href="{% url 'vender' %}">Vender</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-info" href="{% url 'ayuda' %}">Ayuda</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-info" href="{% url 'carrito' %}"><i
                                            class="fas fa-shopping-cart mr-1 colorMorado"></i>Ver
                                        carrito</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-info" href="{% url 'deseos' %}"><i
                                            class="fas fa-heart mr-1 colorMorado"></i>Ver lista de
                                        deseos</a>
                                </li>

                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
            <!--Apartado de usuario-->
            <div class="col-sm-4 bg-dark d-inline-flex align-items-center">
                <i class="fas fa-user-circle fa-5x mr-2 text-info"></i>
                <h6 class="colorMorado">Luís Eduardo García Pedreros</h6>
                <a href="#"><button type="button" class="btn btn-outline-info text-light ml-2">Gestionar perfil</button></a>
            </div>
            <!--apartado de usuario-->
        </div>
    </div>
    <!--Barra de navegación superior-->

{% block contenido %}

{% endblock contenido %}



   <!--FOOTER-->
<footer class="page-footer bg-dark">
    <hr class="horizontalLine">
    <div class="container text-center text-md-left mt-3" style="padding-top: 2%;">
        <div class="row" >
  
            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold text-info">MEDIOS DE PAGO</h6>
                <hr class="fondoMorado mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                <li class="my-2 colorMorado"><h7 class="text-info">Credito</h7></li>
                <li class="my-2 colorMorado"><h7 class="text-info">Debito</h7></li>
                <li class="my-2 colorMorado"><h7 class="text-info">Transferencia</h7></li>
            </div>
  
            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold text-info">REDES SOCIALES</h6>
                <hr class="fondoMorado mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                <ul class="list-unstyled">
                    <li class="my-2 text-info"><i class="fab fa-facebook mr-3 colorMorado"></i><a href="#" class="text-info"> Facebook</a></li>
                    <li class="my-2 text-info"><i class="fab fa-twitter mr-3 colorMorado"></i><a href="#" class="text-info"> Twitter</a></li>
                    <li class="my-2 text-info"><i class="fab fa-instagram mr-3 colorMorado"></i><a href="#" class="text-info"> Instagram</a></li>
                </ul>
            </div>
  
            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold text-info">NUESTRO CONTACTO</h6>
                <hr class="fondoMorado mb-4 mt-0 d-inline-block mx-auto" style="width: 160px; height: 2px">
                <ul class="list-unstyled">
                    <li class="my-2 text-info"><i class="fas fa-home mr-3 colorMorado"> </i> Chile,
                        concepcion,
                        calle falsa #123</li>
                    <li class="my-2 text-info"><i class="fas fa-envelope mr-3 colorMorado"></i>
                        yepaoficial@gmail.com</li>
                    <li class="my-2 text-info"><i class="fas fa-phone mr-3 colorMorado"></i> + 125469875
                    </li>
                </ul>
            </div>
  
            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold text-info">AYUDA</h6>
                <hr class="fondoMorado mb-4 mt-0 d-inline-block mx-auto" style="width: 65px; height: 2px">
                <li class="my-2 colorMorado"><a class="text-info" href="AyudaUsuario.html">Comprar</a></li>
                <li class="my-2 colorMorado"><a class="text-info" href="AyudaUsuario.html">Vender</a></li>
                <li class="my-2 colorMorado"><a class="text-info" href="AyudaUsuario.html">Resolucion de problemas</a></li>
                <li class="my-2 colorMorado"><a class="text-info" href="AyudaUsuario.html">Centro de seguridad</a></li>
            </div>
        </div>
    </div>
  
  
  </div>
  <script src="" async defer></script>
</body>