{% extends 'app_oracle/base.html' %}
{% block contenido %}

<!-- Carrusel-->   
     
    <div id="demo" class="carousel slide" data-ride="carousel" style="margin-bottom: -4%;">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner" style="margin-bottom: 0%;">
            <div class="carousel-item active" >
                <img src="IMG/Imagenes bienvenida/imagen3.jpg" class="img-fluid">
                <div class="carousel-caption">
                    <h3>Venta y Compra de productos Online!</h3>
                    <p>En yepa puedes vender y comprar productos de forma facil y segura </p>
                </div>
            </div>
            <div class="carousel-item" >
                <img src="IMG/Imagenes bienvenida/imagen2.jpg" class="img-fluid">
                <div class="carousel-caption">
                    <h3>Compromiso con nuestros clientes</h3>
                    <p>Puedes comprar y vender de forma confiable, somos una empresa profesional con decadas de experiencia</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="IMG/Imagenes bienvenida/imagen1.jpg" class="img-fluid">
                <div class="carousel-caption">
                    <h3>Compra Segura</h3>
                    <p>Tenemos altos estandares de seguridad contra vendedores fraudulentos</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <!-- Carrusel-->   <!-- Carrusel-->   <!-- Carrusel-->   <!-- TAMAÑO DE IMAGENES ARREGLAR-->   



{% endblock contenido %}


