{% extends 'app_oracle/base.html' %}
{% block contenido %}

    <div class="container-fluid d-flex justify-content-center fondoMorado">
        <h1 class="text-dark">Mi carrito</h1>
    </div>


    <div class="container" style="margin-top: 1%; background-color:rgba(226, 226, 226, 0.815)">
    <lol>
        <div class="row" style="border: 1px; border-color: black;border-style: solid;">

            <div class="col-sm-4">
                
                    <img class="card-img-top" src="IMG/luzAuto.jpg" alt="Luz auto" id="imgMisPedidos">
                    <div class="card-body">
                        <a href="Click_producto.html" class="btn fondoCeleste text-white ml-5">Ver producto</a>
                    </div>
                
            </div>
            <div class="col-sm-4">
                <br>
                <h5 class="ml-3">Luz Trasera camioneta</h5>
                <div class="container-fluid d-inline-flex">
                    <button class="btn fondoMorado text-white increaseButton" style="font-size: 15px;">+</button>
                    <h4 class="contadorProductos p-2 pt-3"> 1 </h4><button type="button"
                        class="btn fondoMorado text-white decreaseButton" style="font-size: 15px;">-</button>
                </div>
                <br>
                <div class="d-inline-flex">
                    <i class="fas fa-user fa-3x ml-3"></i>
                    <h5 class="mt-4 ml-2">Eduardo Saarabia</h5>
                </div>

            </div>



            <div class="col-sm-4">
                <br>
                <br>
                <br>
                <div class="d-inline-flex">
                    <i class="fas fa-ban fa-3x text-danger"></i>
                    <div class="mt-2 ml-2">
                        <button class="btn-dark" type="button"  class="btn-dark"
                        data-toggle="modal" data-target="#cancelarPedido">Quitar del carrito</button>
                    </div>
                </div>
                <div class="container-fluid">
                    <br>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star-half-alt fa-3x text-warning"></i>
                </div>
            </div>
        </div>
        <!--
    <!-Barra separadora-->
    </lol>

    <lol1>
    <!--Barra separadora-->
    <div class="row" style="border: 1px; border-color: black;border-style: solid;">

        <div class="col-sm-4">
            
                <img class="card-img-top" src="IMG/luzAuto.jpg" alt="Luz auto" id="imgMisPedidos">
                <div class="card-body">
                    <a href="Click_producto.html" class="btn fondoCeleste text-white ml-5">Ver producto</a>
                </div>
            
        </div>
        <div class="col-sm-4">
            <br>
            <h5 class="ml-3">Luz Trasera camioneta</h5>
            <div class="container-fluid d-inline-flex">
                <button class="btn fondoMorado text-white increaseButton" style="font-size: 15px;">+</button>
                <h4 class="contadorProductos p-2 pt-3"> 1 </h4><button type="button"
                    class="btn fondoMorado text-white decreaseButton" style="font-size: 15px;">-</button>
            </div>
            <br>
            <div class="d-inline-flex">
                <i class="fas fa-user fa-3x ml-3"></i>
                <h5 class="mt-4 ml-2">Eduardo Saarabia</h5>
            </div>

        </div>



        <div class="col-sm-4">
            <br>
            <br>
            <br>
            <div class="d-inline-flex">
                <i class="fas fa-ban fa-3x text-danger"></i>
                <div class="mt-2 ml-2">
                    <button class="btn-dark" type="button"  class="btn-dark"
                    data-toggle="modal" data-target="#cancelarPedido1">Quitar del carrito</button>
                </div>
            </div>
            <div class="container-fluid">
                <br>
                <i class="fas fa-star fa-3x text-warning"></i>
                <i class="fas fa-star fa-3x text-warning"></i>
                <i class="fas fa-star-half-alt fa-3x text-warning"></i>
            </div>
        </div>
    </div>
    <!--Barra separadora-->
    </lol1>

    <lol2>
    <!--Barra separadora-->
    <div class="row" style="border: 1px; border-color: black;border-style: solid;">

        <div class="col-sm-4">
            
                <img class="card-img-top" src="IMG/luzAuto.jpg" alt="Luz auto" id="imgMisPedidos">
                <div class="card-body">
                    <a href="Click_producto.html" class="btn fondoCeleste text-white ml-5">Ver producto</a>
                </div>
            
        </div>
        <div class="col-sm-4">
            <br>
            <h5 class="ml-3">Luz Trasera camioneta</h5>
            <div class="container-fluid d-inline-flex">
                <button class="btn fondoMorado text-white increaseButton" style="font-size: 15px;">+</button>
                <h4 class="contadorProductos p-2 pt-3"> 1 </h4><button type="button"
                    class="btn fondoMorado text-white decreaseButton" style="font-size: 15px;">-</button>
            </div>
            <br>
            <div class="d-inline-flex">
                <i class="fas fa-user fa-3x ml-3"></i>
                <h5 class="mt-4 ml-2">Eduardo Saarabia</h5>
            </div>

        </div>



        <div class="col-sm-4">
            <br>
            <br>
            <br>
            <div class="d-inline-flex">
                <i class="fas fa-ban fa-3x text-danger"></i>
                <div class="mt-2 ml-2">
                    <button class="btn-dark" type="button"  class="btn-dark"
                    data-toggle="modal" data-target="#cancelarPedido2">Quitar del carrito</button>
                </div>
            </div>
            <div class="container-fluid">
                <br>
                <i class="fas fa-star fa-3x text-warning"></i>
                <i class="fas fa-star fa-3x text-warning"></i>
                <i class="fas fa-star-half-alt fa-3x text-warning"></i>
            </div>
        </div>
    </div>
    <!--Cuadro de cancelar pedido-->
    </lol2></div>
    
    <!--Cuadro de cancelar pedido-->
  <div class="modal fade" id="cancelarPedido">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Eliminar vendedor</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                ¿Estas seguro que quieres Eliminar a este vendedor?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer flex-row justify-content-around">
                <button type="submit" id="hide" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Si</button>
                <button type="button" class="btn fondoMorado text-light pl-4 pr-4" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>
<!--Cuadro de cancelar pedido-->

<!--Cuadro de cancelar pedido-->
<div class="modal fade" id="cancelarPedido1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Eliminar vendedor</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                ¿Estas seguro que quieres Eliminar a este vendedor?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer flex-row justify-content-around">
                <button type="submit" id="hide1" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Si</button>
                <button type="button" class="btn fondoMorado text-light pl-4 pr-4" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>
<!--Cuadro de cancelar pedido-->

<!--Cuadro de cancelar pedido-->
<div class="modal fade" id="cancelarPedido2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Eliminar vendedor</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                ¿Estas seguro que quieres Eliminar a este vendedor?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer flex-row justify-content-around">
                <button type="submit" id="hide2" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Si</button>
                <button type="button" class="btn fondoMorado text-light pl-4 pr-4" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center ">
    <button type="submit"" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Comprar productos</button>
</div>

<!--Cuadro de cancelar pedido-->


{%endblock contenido %}