{% extends 'app_oracle/base.html' %}
{% load static %}
{% block contenido %}

<div class="container-fluid d-flex justify-content-center fondoMorado">
        <h1 class="text-dark">Categorias</h1>
    </div>

    <div class="row justify-content-center" >
        <a href="">
        <div class="col-sm-3 " style="padding-top: 3%;" >
        <div class="card" style="width: 300px;margin: auto;">
            <img src="{% static 'IMG/Imagenes categorias/electrodomesticos.jpg' %}" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">ELECTRODOMESTICOS</h4>
                
            </div>
            
        </div></div></a>

        <a href=""><div class="col-sm-3" style="padding-top: 3%;">
            <div class="card" style="width: 300px;margin: auto;">
                <img src="{% static 'IMG/Imagenes categorias/cocina.jpg' %}" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">COCINA</h4>
                    
                </div>
                
            </div>
        </div></a>
        <a href=""><div class="col-sm-3" style="padding-top: 3%;">
            <div class="card" style="width: 300px;margin: auto;">
                <img src="{% static 'IMG/Imagenes categorias/baño.jpg' %}" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">BAÑO</h4>
                    
                </div>
                
            </div>
        </div></a>
        
    </div>


    <div class="row justify-content-center" >
        <a href=""><div class="col-sm-3" style="padding-top: 3%;">
        <div class="card" style="width: 300px;margin: auto;">
            <img src="{% static 'IMG/Imagenes categorias/hogar_muebles.jpg' %}" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">HOGAR Y MUEBLES</h4>
                
            </div>
            
        </div></div></a>

        <a href=""><div class="col-sm-3" style="padding-top: 3%;">
            <div class="card" style="width: 300px;margin: auto;">
                <img src="{% static 'IMG/Imagenes categorias/moda_hombre.jpg' %}" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">MODA HOMBRE</h4>
                    
                </div>
                
            </div>
        </div></a>
        <a href=""><div class="col-sm-3" style="padding-top: 3%;">
            <div class="card" style="width: 300px;margin: auto;">
                <img src="{% static 'IMG/Imagenes categorias/moda_mujer.png' %}" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">BMODA MUJER</h4>
                    
                </div>
                
            </div>
        </div></a>
        
    </div>


    <div class="row justify-content-center" >
        <a href=""> <div class="col-sm-3" style="padding-top: 3%;">
        <div class="card" style="width: 300px;margin: auto;">
            <img src="{% static 'IMG/Imagenes categorias/vehiculo.jpg' %}" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">VEHICULOS</h4>
            </div>
            
        </div></div></a>

        <a href="{% url 'catvideojuegos' %}"><div class="col-sm-3" style="padding-top: 3%;">
            <div class="card" style="width: 300px;margin: auto;">
                <img src="{% static 'IMG/Imagenes categorias/videojuegos.jpg' %}" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">VIDEOJUEGOS</h4>
                    
                </div>
                
            </div>
        </div></a>
        <a href=""><div class="col-sm-3" style="padding-top: 3%;">
            <div class="card" style="width: 302px;margin: auto;">
                <img src="{% static 'IMG/Imagenes categorias/instrumentos_musicales.jpg' %}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">INSTRUMENTOS MUSICALES</h5>
                    
                </div>
                
            </div>
        </div></a>
        
    </div>

{% endblock contenido %}



