{% extends 'app_oracle/base.html' %}
{% load static %}
{% block contenido %}

<section id="sectionVideojuegos">
        <div class="container" style="display: flex; justify-content:center;">
            <div class="barraDeFiltrarYOrdenarProductos">
                <a href="#">Filtrar</a>
                <h4 class="colorAmarillo mt-1">Videojuegos</h4>
                <div class="divOrdenarPor">
                    Ordenar por:
                    <div class="dropdown">
                        <button class="dropbtn">Más vendidos</button>
                        <div class="dropdown-content">
                            <a href="#" class="itemsOrdenarPor">Mayor precio</a>
                            <a href="#" class="itemsOrdenarPor">Menor precio</a>
                            <a href="#" class="itemsOrdenarPor">Más vendidos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container" style="padding-bottom: 100px; ">
            <div class="row borderProductosVideojuegos">
                <div class="col bg-dark">
                    <img src="{% static 'IMG/Imagenes categoria Videojuegos/mando sx1.webp' %}" alt="Mando Xbox One" class="estandarImagenVideojuegos">
                </div>
                <div class="col bg-dark">
                    <br>
                    <a href="{% url 'mando' %}" class="colorCeleste" style="font-size: 25px;">Microsoft Control Xbox Inalmbrico + Cable Usb-c</a>
                    <br>
                    <br>
                    <h4 class="colorMorado">$ 50.000</h4>
                </div>
                <div class="col bg-dark">
                    <h6 class="pt-3 colorCeleste">Microsoft corporation</h6>
                    <i class="fas fa-user-alt fa-1x colorMorado"></i>
                    <br>
                    <br>
                    <h5 class="colorCeleste">Valoración</h5>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star-half-alt fa-3x text-warning"></i>
                </div>
            </div>
            <div class="row mt-1 borderProductosVideojuegos">
                <div class="col bg-dark">
                    <img src="{% static 'IMG/Imagenes categoria Videojuegos/hollow1.png' %}" alt="Mando Xbox One" class="estandarImagenVideojuegos">
                </div>
                <div class="col bg-dark">
                    <br>
                    <a href="{% url 'hollow' %}"  class="colorCeleste" style="font-size: 25px;">Hollow Knight Standard Edition Nintendo Switch Físico</a>
                    <br>
                    <br>
                    <h4 class="colorMorado">$ 44.990</h4>
                </div>
                <div class="col bg-dark">
                    <h6 class="pt-3 colorCeleste">Puro Game Tienda</h6>
                    <i class="fas fa-user-alt fa-1x colorMorado"></i>
                    <br>
                    <br>
                    <h5 class="colorCeleste">Valoración</h5>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star-half-alt fa-3x text-warning"></i>
                </div>
            </div>

            <div class="row mt-1 borderProductosVideojuegos">
                <div class="col bg-dark">
                    <img src="{% static 'IMG/Imagenes categoria Videojuegos/joycon1.png' %}" alt="Mando Xbox One" class="estandarImagenVideojuegos">
                </div>
                <div class="col bg-dark">
                    <br>
                    <a href="{% url 'joycon' %}" class="colorCeleste" style="font-size: 25px;">Control joystick inalámbrico Nintendo neon red y neon blue</a>
                    <br>
                    <br>
                    <h4 class="colorMorado">$ 81.990</h4>
                </div>
                <div class="col bg-dark">
                    <h6 class="pt-3 colorCeleste">Nintendo inc.</h6>
                    <i class="fas fa-user-alt fa-1x colorMorado"></i>
                    <br>
                    <br>
                    <h5 class="colorCeleste">Valoración</h5>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star-half-alt fa-3x text-warning"></i>
                </div>
            </div>
        </div>

    </section>


    <script src="" async defer></script>


{% endblock contenido %}

