{% block contenido %}
<div class="bg-dark">
    <!--cuerpo de producto--> 
    <div class="row" >
        <!--IMAGEN DEL PRODUCTO--> 
        <div class="col-sm-6" style="padding-top: 1%; background-color:rgba(226, 226, 226, 0.815) ;margin-top:1%; margin-left: 3%;" >
        <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="IMG/mando sx1.webp" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="IMG/mando sx2.webp" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="IMG/mando sx2.webp" width="1100" height="500">
            </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
        </div>
        <h1>Descripcion del producto</h1>
            <p> Este producto es un mando de la nueva consola Xbox Series X en perfectas condiciones  </p>
        
        <!--INICIO  DE COMENTARIOS--> 
            <div class="container" style="margin-left: -2%;">
                
                <form action="/action_page.php">
                  <div class="form-group">
                    <label for="comment">¿Producto no apto para venta? Describe porque</label>
                    <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
                  </div>
                </form>
              </div>
        <!--FIN  DE COMENTARIOS--> 
        </div>
        <!--DETALLES Y TITULO--> 
        <DIV class="col-sm-4" style="padding-top: 1%; background-color: rgba(226, 226, 226, 0.815); margin-top:1%; margin-left: 2%; margin-right: 3%; margin-bottom: auto;">
        <h1> Microsoft Control Xbox Series X Inalmbrico
        </h1>
        <br>
        <h1>$50.000</h1>
        <h2>Metodos de pago</h2>
        <h1><i class="fab fa-cc-paypal black-text"></i><i class="fab fa-cc-visa black-text" style="padding-left: 2%;" ></i></h1>
        <br>
        <h2>Informacion de vendedor:</h2>
        <h3><i class="fas fa-user black-text"></i>  Juan antonio Martinez de la cruz gajardo</h3>
        <h3><i class="fas fa-map-marker black-text"></i>  Santiago, la pintana</h3>
        <h3><i class="fas fa-envelope black-text"></i>  juanantonizgajardo@gmail.com</h3>
        <h3>Calificacion vendedor: <i class="fas fa-star black-text mr-1"></i><i class="fas fa-star black-text mr-1"></i><i class="fas fa-star black-text mr-1"></i></h3>
        <br>
        </DIV>
        
    </div>
    <!--cuerpo de producto--> 
    <div class="d-flex justify-content-center">
        <div style="padding-right:7%">
          <button type="button" data-toggle="modal" data-target="#aceptarproducto" class="btn btn-success text-black align-self-lg-center"
          id="subirImagenButton">Aceptar producto</button>
    </div>
    <button type="button" data-toggle="modal" data-target="#rechazarproducto" class="btn btn-danger text-black align-self-lg-center"
          id="subirImagenButton">Rechazar</button>
    </div> 

</div>
    <!--Cuadro de aceptar producto-->
    <div class="modal fade" id="aceptarproducto">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                  <h4 class="modal-title">¿Seguro que desea aceptar este producto?</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                  <p> El producto debe cumplir todas las normas legales y sociales antes de ser aprobado</p>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer flex-row justify-content-around">
                  <button type="submit" class="btn fondoMorado text-white pl-4 pr-4" data-dismiss="modal">Cancelar</button>
                  <a href="Publicacion.html"><button type="button" class="btn bg-info text-white"
                    id="subirImagenButton">Confirmar</button></a>
              </div>

          </div>
      </div>
  </div>
  <!--Cuadro de aceptar producto-->
<!--Cuadro de rechazar producto-->
<div class="modal fade" id="rechazarproducto">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">¿Seguro que desea Rechazar este producto?</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <p> Al ser rechazado el producto este no se publicara, el prodcuto debe ser correctamente comentado para que el vendedor entienda la desicion</p>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer flex-row justify-content-around">
              <button type="submit" class="btn fondoMorado text-white pl-4 pr-4" data-dismiss="modal">Cancelar</button>
              <a href="Publicacion.html"><button type="button" class="btn bg-info text-white"
                id="subirImagenButton">Confirmar</button></a>
                  
          </div>

      </div>
  </div>
</div>
<!--Cuadro de rechazar producto-->


{% endblock contenido %}



