{% extends 'app_oracle/base.html' %}
{% block contenido %}

<!--cuerpo de producto--> 
    <div class="row" >
        <!--IMAGEN DEL PRODUCTO--> 
        <div class="col-sm-6" style="padding-top: 1%; background-color:rgba(226, 226, 226, 0.815) ;margin-top:1%; margin-left: 3%;" >
        <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="IMG/luzAuto.jpg" alt="Los Angeles" width="500" height="500">
            </div>
            <div class="carousel-item">
                <img src="IMG/luzAuto2.jpg" alt="Chicago" width="500" height="500">
            </div>
            <div class="carousel-item">
                <img src="IMG/luzAuto3.jpg" alt="New York" width="500" height="500">
            </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
        </div>
        <h1>Descripcion del producto</h1>
            <p> Este producto es un foco de luz trasero izquierdo de un Mahindra Pik Up 2007 que tiene una semana de uso </p>
        
        <!--INICIO  DE COMENTARIOS--> 
            <div class="container" style="margin-left: -2%; height: 600px;">
                <h2>Comentarios</h2>
                <div style="background-color: white;border-radius: 20px; margin-right: auto;" >
                <p> <i class="fas fa-user black-text"></i>   Muy malo</p>
                </div>
                <div style="background-color: white;border-radius: 20px; margin-right: auto;" >
                    <p> <i class="fas fa-user black-text"></i>   Ilumina poco</p>
                    </div>

                <form action="/action_page.php">
                  <div class="form-group">
                    <label for="comment">Comenta este producto:</label>
                    <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
                  </div>
                </form>
              </div>
              <button type="submit" class="btn btn-primary mb-3">Comentar</button>
        <!--FIN  DE COMENTARIOS--> 
        </div>
        <!--DETALLES Y TITULO--> 
        <DIV class="col-sm-4" style="padding-top: 1%; background-color: rgba(226, 226, 226, 0.815); margin-top:1%; margin-left: 2%; margin-right: 3%; margin-bottom: auto;">
        <h1> Foco luz Trasera Izquierda Mahindra Pik Up 2007- Original </h1>
        <br>
        <h3>Calificacion producto:</h3>
        <h1><i class="fas fa-star black-text mr-1"></i><i class="fas fa-star black-text mr-1"></i><i class="fas fa-star-half black-text mr-1"></i></h1>
        <h1>$98.000</h1>
        <h2>Metodos de pago</h2>
        <h1><i class="fab fa-cc-paypal black-text"></i><i class="fab fa-cc-visa black-text" style="padding-left: 2%;" ></i></h1>
        <br>
        <h2>Informacion de vendedor:</h2>
        <h3><i class="fas fa-user black-text"></i>  Juan antonio Martinez de la cruz gajardo</h3>
        <h3><i class="fas fa-envelope black-text"></i>  juanantonizgajardo@gmail.com</h3>
        <h3>Calificacion vendedor: <i class="fas fa-star black-text mr-1"></i><i class="fas fa-star black-text mr-1"></i><i class="fas fa-star black-text mr-1"></i></h3>
        <h3><i class="fas fa-map-marker black-text"></i>  Santiago, la pintana</h3>
        <div id="map"></div>
        <br>
        <h1><button type="button" class="btn btn-success"><i class="fas fa-shopping-cart white-text mr-1"></i>Añadir a carrito</button> </h1>
        <h1><button type="button" class="btn btn-danger"><i class="fas fa-heart white-text mr-1"></i>Agregar a mis deseos</button></h1>
        </DIV>
        
    </div>
    <!--cuerpo de producto--> 
    
    <!--Carousel de productos visitados-->
    <div class="container-fluid" style="margin-top:3%">
        <div class="row">
            <div class="col-sm-12">
                <div id="productos" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                             <div class="container">
                                 <div class="row">
                                     <div class="col-sm-12 col-lg-4">
                                         <div class="card" style="width: 300px;margin: auto;">
                                             <img src="IMG/Imagenes últimos articulos visitados/bicicleta.png" class="card-img-top">
                                             <div class="card-body">
                                                 <h4 class="card-title">Bicicleta Oxford Venus MTB</h4>
                                                 <h5 class="card-title">Precio:</h5>
                                                 <p class="card-text">$350.000</p>
                                                 <button type="button" class="btn btn-info">Ver producto</button>
                                                 
                                             </div>
                                             
                                         </div>
                                         
                                     </div>
                                     <div class="col-sm-12 col-lg-4">
                                         <div class="card" style="width: 300px;">
                                             <img src="IMG/Imagenes últimos articulos visitados/celular.png" class="card-img-top">
                                             <div class="card-body">
                                                 <h4 class="card-title">Celular Huawei Y9S Negro</h4>
                                                 <h5 class="card-text">Precio:</h5>
                                                 <p class="card-text">$209.990</p>
                                                 <button type="button" class="btn btn-info">Ver producto</button>
                                                 
                                             </div>
                                             
                                         </div>
                                         
                                     </div>
                                     <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;">
                                            <img src="IMG/Imagenes últimos articulos visitados/guitarra.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Guitarra Eléctrica Pro King</h4>
                                                <h5 class="card_text">Precio:</h5>
                                                <p class="card-text">$199.900</p>
                                                <button type="button" class="btn btn-info">Ver producto</button>
                                                
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;margin: auto;">
                                            <img src="IMG/Imagenes últimos articulos visitados/laptop.png" class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Notebook HP 14-cf2051la</h4>
                                                <h5 class="card-text">Precio:</h5>
                                                <p class="card-text">$459.990</p>
                                                <button type="button" class="btn btn-info">Ver producto</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;margin: auto;">
                                            <img src="IMG/Imagenes últimos articulos visitados/Zapatillas Nike.png" class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Revolution 5 Zapatilla Deportiva Hombre</h4>
                                                <h5 class="card-text">Precio:</h5>
                                                <p class="card-text">$46.990</p>
                                                <button type="button" class="btn btn-info">Ver productos</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;margin: auto;">
                                            <img src="IMG/Imagenes últimos articulos visitados/Lavadora.png" class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Lavadora Automática Midea MLS-090GE04N</h4>
                                                <h5 class="card-text">Precio:</h5>
                                                <p class="card-text">169.990</p>
                                                <button type="button" class="btn btn-info">Ver producto</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Flechitas de direccion izquierda y derecha-->
                    <a href="#productos" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-info"></span>
                    </a>
                    <a href="#productos" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon bg-info"></span>
                    </a>
                    <!--Flechitas de direccion izquierda y derecha-->
                </div>
            </div>
        </div>
    </div>
    <!--Carousel de productos visitados-->

{% endblock contenido %}



