{% extends 'app_oracle/base.html' %}

{% block contenido %}
<div class="d-flex justify-content-center fondoMorado">
            <h1 class="mt-2">Editar perfil</h1>
        </div>
        <br>
        <br>
        <div id="divSubirImagen">
            <i class="fas fa-user-alt fa-8x mb-1 text-info align-self-center"></i>
            <button type="button" data-toggle="modal" data-target="#subirImagen" class="btn fondoMorado text-white"
                id="subirImagenButton">Subir imagen <i class="fas fa-plus fa-1x"></i></button>
        </div>
        <!--Icono registrar usuario-->
        <div class="container">
            <!--Formulario de registro-->
            <form action method="GET">
                <div class="form-group oredenarInputs">
                    <br>
                    <label for="name" class="colorMorado centeredLabel">Nombre(s)</label>
                    <input type="text" class="form-control text-lg-center"  onkeypress="return sololetras(event)" aria-describedby="vnombre" onpaste="return false" placeholder="Luís Eduardo" id="name">
                    <small id="vnombre" class="form-text text-muted">Solo texto</small>
                </div>
                <div class="form-group oredenarInputs">
                    <br>
                    <label for="apellidos" class="colorMorado centeredLabel">Apellidos</label>
                    <input type="text" class="form-control text-lg-center" placeholder="García Pedreros" id="ap">
                    <small id="hfecha" class="form-text text-muted">Solo texto</small>
                </div>
                <div class="form-group oredenarInputs">
                    <br>
                    <label for="name" class="colorMorado centeredLabel">E-mail</label>
                    <input type="text" class="form-control text-lg-center" placeholder="Luchi52@gmail.com" id="email">
                    <small id="hfecha" class="form-text text-muted">Debe contener @</small>
                </div>
                <div class="form-group oredenarInputs">
                    <br>
                    <label for="direccion" class="colorMorado centeredLabel">Dirección</label>
                    <input type="text" class="form-control text-lg-center" placeholder="Castellón #134, Concepción"
                        id="di">
                </div>
                <div class="form-group oredenarInputs" class="d-flex justify-content-center">
                    <br>
                </div>
                <br>
                <div class="centeredLabel colorMorado">
                    <h4>Tarjetas asociadas</h4>
                </div>
                <!--Agregar tarjeta-->
                <div id="creditCardList" class="container">
                    <ul class="list-group w-75">
                        <li class="list-group-item d-flex justify-content-center">Débito Select MasterCard-Banco Santander</li>
                        <li class="list-group-item d-flex justify-content-center">Débito Visa-Banco de Chile</li>
                    </ul>
                </div>
                <div class="container d-flex justify-content-center mt-2">
                    <a href="AsociarTarjeta.html" ><button type="button" class="btn fondoMorado text-white">Agregar tarjeta</button></a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <!--Agregar tarjeta-->
                <!--Botones de cancelar y registrar-->
                <div class="d-flex justify-content-around">
                    <a href="Gestionar perfil.html"><button type="button" class="btn btn-info">Cancelar</button></a>
                    <button type="button" class="btn btn-info" data-toggle="modal"
                        data-target="#confirmarEditPerfil">Confirmar</button>
                </div>
                <!--Botones de cancelar y registrar-->
            </form>

            <!--Cuadro de editar perfil-->
            <div class="modal fade" id="confirmarEditPerfil">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Mensaje de confirmación</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            ¿Estas seguro que quieres confirmar los cambios?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer flex-row justify-content-around">
                            <a href="Gestionar perfil.html"><button type="submit" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Si</button></a>
                            <a href="Gestionar perfil.html"><button type="button" class="btn fondoMorado text-white pl-4 pr-4"
                                data-dismiss="modal">No</button></a>
                        </div>

                    </div>
                </div>
            </div>
            <!--Cuadro de editar perfil-->

            <!--Cuadro de subir imagen-->
            <div class="modal fade" id="subirImagen">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Subir imagen</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <input type="file" class="form-control-file border">
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer flex-row justify-content-around">
                            <button type="submit" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn fondoMorado text-white pl-4 pr-4"
                                data-dismiss="modal">Confirmar</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--Cuadro de subir imagen-->

{% endblock contenido %}

