{% extends 'app_oracle/base.html' %}

{% block contenido %}
<div class="d-flex justify-content-center fondoMorado">
            <h1 class="mt-2">Gestionar perfil</h1>
        </div>
        <div class="d-flex justify-content-between">
            <a href="LOGIN.html"><button type="button" class="btn text-danger"
                id="cerrarSesion">Cerrar sesion</button></a>
            <a href="Editar perfil.html"><button type="button" class="btn fondoMorado text-white"
                id="subirImagenButton">Editar perfil</button></a>
        </div>
        <br>
        <br>
        <div id="divSubirImagen" style="margin-top: -3%;">
            <i class="fas fa-user-alt fa-8x mb-1 text-info align-self-center"></i>
        </div>
        <!--Icono registrar usuario-->
        <div class="container" style="margin-top: -1%;">
            <!--Formulario de registro-->
            <form action="/action_page.php">
                <div class="form-group oredenarInputs">
                    <br>
                    <label for="name" class="colorMorado centeredLabel">Nombre(s)</label>
                    <input type="text" class="form-control text-lg-center" placeholder="Luís Eduardo" id="name" disabled>
                </div>

                <div class="form-group oredenarInputs">
                    <br>
                    <label for="apellidos" class="colorMorado centeredLabel">Apellidos</label>
                    <input type="text" class="form-control text-lg-center" placeholder="García Pedreros" id="ap" disabled>                        
                </div>
                
                <div class="form-group oredenarInputs">
                    <br>
                    <label for="name" class="colorMorado centeredLabel">E-mail</label>
                    <input type="email" class="form-control text-lg-center" placeholder="Luchi52@gmail.com" id="email" disabled>
                </div>
                
                <div class="form-group oredenarInputs">
                    <br>
                    <label for="direccion" class="colorMorado centeredLabel">Dirección</label>
                    <input type="text" class="form-control text-lg-center" placeholder="Castellón #134, Concepción"
                        id="di" disabled>
                </div>
            
                <div class="form-group oredenarInputs" class="d-flex justify-content-center">
                    
                </div>
                <br>
                <div class="centeredLabel colorMorado">
                    <h3>Tarjetas asociadas:</h3>
                </div>
                
                <div id="creditCardList" class="container">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-center">Débito Select MasterCard-Banco Santander</li>
                        <li class="list-group-item d-flex justify-content-center">Débito Visa-Banco de Chile</li>
                     </ul>
                </div>
               
               
            </form>
{% endblock contenido %}

