{% extends 'app_oracle/base.html' %}
{% load static %}

{% block contenido %}

    <!--Carousel de seccion de ofertas, descuentos, noticias, etc...-->
    <div id="seccion_not_des_ofe" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#seccion_not_des_ofe" data-slide-to="0" class="active"></li>
          <li data-target="#seccion_not_des_ofe" data-slide-to="1"></li>
          <li data-target="#seccion_not_des_ofe" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'IMG/Imagenes de sección de noticias, ofertas, descuentos, etc/mueble_cocina_oferta.png' %}" alt="Oferta muebles de cocina" width="100%" height="100%">
            <div class="carousel-caption">
              <h3>Descuento imperdible</h3>
              <p>Disfruta hasta un 50% de descuento en todo mueble de cocina.</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="{% static 'IMG/Imagenes de sección de noticias, ofertas, descuentos, etc/AMD RYZEN 5000 H Series.png' %}" alt="AMD RYZEN 5000 H Series" width="100%" height="100%">
            <div class="carousel-caption">
              <h3>AMD RYZEN 5000 H Series</h3>
              <p>Ha llegado a YEPA la nueva generación de procesadores AMD Ryzen 5000 H series: El mejor procesador móvil para juegos del mundo.</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src={% static 'IMG/Imagenes de sección de noticias, ofertas, descuentos, etc/pendrive_oferta.png' %} alt="Oferta pendrives" width="100%" height="100%">
            <div class="carousel-caption">
              <h3>Super oferta</h3>
              <p>Llevate 3 pendrive por el precio de 2 en todo tipo de marca.</p>
            </div>   
          </div>
        </div>
        <a class="carousel-control-prev" href="#seccion_not_des_ofe" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#seccion_not_des_ofe" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    <!--Carousel de seccion de ofertas, descuentos, noticias, etc...-->
    <!--Apartado de últimos artículos visitados-->
    <div class="d-flex justify-content-center bg-dark">
        <h2 class="colorMorado pt-2">Últimos artículos que has visitado:</h2>
    </div>
    <br>
    <!--Carousel de productos visitados-->
    <div class="container-fluid" class="bg-dark">
        <div class="row">
            <div class="col-sm-12">
                <div id="productos" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                             <div class="container">
                                 <div class="row">
                                     <div class="col-sm-12 col-lg-4">
                                         <div class="card" style="width: 300px;margin: auto;">
                                             <img src="{% static 'IMG/Imagenes últimos articulos visitados/bicicleta.png' %}" class="card-img-top">
                                             <div class="card-body">
                                                 <h4 class="card-title">Bicicleta Oxford Venus MTB</h4>
                                                 <h5 class="card-title">Precio:</h5>
                                                 <p class="card-text">$350.000</p>
                                                 <button type="button" class="btn btn-info">Ver producto</button>
                                                 
                                             </div>
                                             
                                         </div>
                                         
                                     </div>
                                     <div class="col-sm-12 col-lg-4">
                                         <div class="card" style="width: 300px;">
                                             <img src="{% static 'IMG/Imagenes últimos articulos visitados/celular.png' %}" class="card-img-top">
                                             <div class="card-body">
                                                 <h4 class="card-title">Celular Huawei Y9S Negro</h4>
                                                 <h5 class="card-text">Precio:</h5>
                                                 <p class="card-text">$209.990</p>
                                                 <button type="button" class="btn btn-info">Ver producto</button>
                                                 
                                             </div>
                                             
                                         </div>
                                         
                                     </div>
                                     <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;">
                                            <img src="{% static 'IMG/Imagenes últimos articulos visitados/guitarra.jpg' %}" class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Guitarra Eléctrica Pro King</h4>
                                                <h5 class="card_text">Precio:</h5>
                                                <p class="card-text">$199.900</p>
                                                <button type="button" class="btn btn-info">Ver producto</button>
                                                
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;margin: auto;">
                                            <img src="{% static 'IMG/Imagenes últimos articulos visitados/laptop.png' %}" class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Notebook HP 14-cf2051la</h4>
                                                <h5 class="card-text">Precio:</h5>
                                                <p class="card-text">$459.990</p>
                                                <button type="button" class="btn btn-info">Ver producto</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;margin: auto;">
                                            <img src="{% static 'IMG/Imagenes últimos articulos visitados/zapatillas nike.png' %}" class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Revolution 5 Zapatilla Deportiva Hombre</h4>
                                                <h5 class="card-text">Precio:</h5>
                                                <p class="card-text">$46.990</p>
                                                <button type="button" class="btn btn-info">Ver productos</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;margin: auto;">
                                            <img src="{% static 'IMG/Imagenes últimos articulos visitados/lavadora.png' %}" class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Lavadora Automática Midea MLS-090GE04N</h4>
                                                <h5 class="card-text">Precio:</h5>
                                                <p class="card-text">169.990</p>
                                                <button type="button" class="btn btn-info">Ver producto</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Flechitas de direccion izquierda y derecha-->
                    <a href="#productos" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-info"></span>
                    </a>
                    <a href="#productos" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon bg-info"></span>
                    </a>
                    <!--Flechitas de direccion izquierda y derecha-->
                </div>
            </div>
        </div>
    </div>
    <!--Carousel de productos visitados-->


{% endblock contenido %}