{% extends 'app_oracle/base.html' %}
{% load static %}
{% block contenido %}
<div class="container-fluid d-flex justify-content-center fondoMorado">
        <h1 class="text-dark">Lista de deseos</h1>
    </div>

    <div class="container" style="margin-top: 1%; background-color:rgba(226, 226, 226, 0.815)">
    <!--Producto 1-->
    <lol>
    <div class="row" style="border: 1px; border-color: black;border-style: solid;">
        <div class="col-sm-4">
            
                <img class="card-img-top" src={% static 'IMG/luzAuto.jpg' %} alt="Luz auto" id="imgMisPedidos">
                <div class="card-body">
                    <a  href="{% url 'producto' %}" class="btn btn-info ml-5">Ver producto</a>
                </div>
            
        </div>
        <div class="col-sm-4">
            <br>
            <h5 class="ml-3">Luz Trasera camioneta</h5>
            <div class="container-fluid">
                <div class="form-group">
                    <textarea class="form-control textareaSinMovimiento" rows="5" id="comment"
                        disabled>Foco luz Trasera Izquierda Mahindra Pik Up 2007- Original</textarea>
                </div>
            </div>
            <div class="d-inline-flex">
                <i class="fas fa-user fa-3x ml-3"></i>
                <h5 class="mt-4 ml-2">Eduardo Saarabia</h5>
            </div>

        </div>
        <div class="col-sm-4">
            <br>
            <h2>$9.990</h2>
            <br>
            <div class="d-inline-flex">
                <div class="mt-2 ml-2">
                    <button type="button" class="btn-success" data-toggle="modal" data-target="#cancelarPedido"><i
                        class="fas fa-shopping-cart mr-1"></i>Agregar a carrito</button>
                </div>
                
               
            </div><br>
            <div class="d-inline-flex">
                
                <div class="mt-2 ml-2">
                    <button type="button" class="btn-dark" id="hide"><i class="fas fa-ban mr-1 text-danger"></i>Quitar del carrito</button>
                </div>
            </div>
            <div class="container-fluid">
                <br>
                <br>
                <i class="fas fa-star fa-3x text-warning"></i>
                <i class="fas fa-star fa-3x text-warning"></i>
                <i class="fas fa-star-half-alt fa-3x text-warning"></i>
            </div>
        </div>
    </div></lol>
    <!--Fin Producto 1-->

    <!--Producto 2-->
    <lol1>
    <div class="row" style="border: 1px; border-color: black;border-style: solid;">
        <div class="col-sm-4">
            
                <img class="card-img-top" src={% static 'IMG/luzAuto.jpg' %} alt="Luz auto" id="imgMisPedidos">
                <div class="card-body">
                    <a href="Click_producto.html" class="btn btn-info ml-5">Ver producto</a>
                </div>
            
        </div>
        <div class="col-sm-4">
            <br>
            <h5 class="ml-3">Luz Trasera camioneta</h5>
            <div class="container-fluid">
                <div class="form-group">
                    <textarea class="form-control textareaSinMovimiento" rows="5" id="comment"
                        disabled>Foco luz Trasera Izquierda Mahindra Pik Up 2007- Original</textarea>
                </div>
            </div>
            <div class="d-inline-flex">
                <i class="fas fa-user fa-3x ml-3"></i>
                <h5 class="mt-4 ml-2">Eduardo Saarabia</h5>
            </div>

        </div>
        <div class="col-sm-4">
            <br>
            <h2>$9.990</h2>
            <br>
            <div class="d-inline-flex">
                <div class="mt-2 ml-2">
                    <button type="button" class="btn-success" data-toggle="modal" data-target="#cancelarPedido"><i
                        class="fas fa-shopping-cart mr-1"></i>Agregar a carrito</button>
                </div>
                
               
            </div><br>
            <div class="d-inline-flex">
                
                <div class="mt-2 ml-2">
                    <button type="button" class="btn-dark" id="hide1"><i class="fas fa-ban mr-1 text-danger"></i>Quitar del carrito</button>
                </div>
            </div>
            <div class="container-fluid">
                <br>
                <br>
                <i class="fas fa-star fa-3x text-warning"></i>
                <i class="fas fa-star fa-3x text-warning"></i>
                <i class="fas fa-star-half-alt fa-3x text-warning"></i>
            </div>
        </div>
    </div></lol1>
    <!--Producto 2-->

    <!--Producto 3-->
    <lol2>
    <div class="row" style="border: 1px; border-color: black;border-style: solid;">
        <div class="col-sm-4">
            
                <img class="card-img-top" src={% static 'IMG/luzAuto.jpg' %} alt="Luz auto" id="imgMisPedidos">
                <div class="card-body">
                    <a href="Click_producto.html" class="btn btn-info ml-5">Ver producto</a>
                </div>
            
        </div>
        <div class="col-sm-4">
            <br>
            <h5 class="ml-3">Luz Trasera camioneta</h5>
            <div class="container-fluid">
                <div class="form-group">
                    <textarea class="form-control textareaSinMovimiento" rows="5" id="comment"
                        disabled>Foco luz Trasera Izquierda Mahindra Pik Up 2007- Original</textarea>
                </div>
            </div>
            <div class="d-inline-flex">
                <i class="fas fa-user fa-3x ml-3"></i>
                <h5 class="mt-4 ml-2">Eduardo Saarabia</h5>
            </div>

        </div>
        <div class="col-sm-4">
            <br>
            <h2>$9.990</h2>
            <br>
            <div class="d-inline-flex">
                <div class="mt-2 ml-2">
                    <button type="button" class="btn-success" data-toggle="modal" data-target="#cancelarPedido"><i
                        class="fas fa-shopping-cart mr-1"></i>Agregar a carrito</button>
                </div>
                
               
            </div><br>
            <div class="d-inline-flex">
                
                <div class="mt-2 ml-2">
                    <button type="button" class="btn-dark" id="hide2"><i class="fas fa-ban mr-1 text-danger"></i>Quitar del carrito</button>
                </div>
            </div>
            <div class="container-fluid">
                <br>
                <br>
                <i class="fas fa-star fa-3x text-warning"></i>
                <i class="fas fa-star fa-3x text-warning"></i>
                <i class="fas fa-star-half-alt fa-3x text-warning"></i>
            </div>
        </div>
    </div></lol2>
    <!--Fin Producto 3-->
</div>
{% endblock contenido %}

