{% extends 'app_oracle/base.html' %}

{% block contenido %}
<div class="container-fluid d-flex justify-content-center fondoMorado">
        <h1 class="text-dark">Mis publicaciones</h1>
    </div>
     <!--Publicacion-->
    <div class="row" style="border: 1px; border-color: black;border-style: solid;">
        <div class="col-sm-4">
            <div class="card container-fluid" id="pedidoCard">
                <img class="card-img-top" src={% static 'IMG/luzAuto.jpg' %} alt="Luz auto" id="imgMisPedidos">
                <div class="card-body">
                    <a href="#" class="btn btn-info ml-5">Ver pedido</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <br>
            <h5 class="ml-3">Luz Trasera camioneta</h5>
            <div class="container-fluid">
                <div class="form-group">
                    <textarea class="form-control textareaSinMovimiento" rows="5" id="comment"
                        disabled>Foco luz Trasera Izquierda Mahindra Pik Up 2007- Original</textarea>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <br>
            <br><button class="btn fondoMorado text-light p-2" type="submit"><i class="fas fa-eye"></i> Ver publicacion</button>
            <br>
            <button type="button" class="btn btn-success p-2"><i class=" fas fa-pen-square"></i> Editar publicacion</button>
            <br>
            <button type="button" class="btn btn-danger p-2"><i class=" fas fa-trash-alt"></i> Eliminar publicacion</button>
        
        </div>
    </div>
    <!--Publicacion-->
    <!--Publicacion-->
    <div class="row" style="border: 1px; border-color: black;border-style: solid;">
        <div class="col-sm-4">
            <div class="card container-fluid" id="pedidoCard">
                <img class="card-img-top" src={% static 'IMG/luzAuto.jpg' %} alt="Luz auto" id="imgMisPedidos">
                <div class="card-body">
                    <a href="#" class="btn btn-info ml-5">Ver pedido</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <br>
            <h5 class="ml-3">Luz Trasera camioneta</h5>
            <div class="container-fluid">
                <div class="form-group">
                    <textarea class="form-control textareaSinMovimiento" rows="5" id="comment"
                        disabled>Foco luz Trasera Izquierda Mahindra Pik Up 2007- Original</textarea>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <br>
            <br><button class="btn fondoMorado text-light p-2" type="submit"><i class="fas fa-eye"></i> Ver publicacion</button>
            <br>
            <button type="button" class="btn btn-success p-2"><i class=" fas fa-pen-square"></i> Editar publicacion</button>
            <br>
            <button type="button" class="btn btn-danger p-2"><i class=" fas fa-trash-alt"></i> Eliminar publicacion</button>
        
        </div>
    </div>
    <!--Publicacion-->
    <!--Boton añadir producto-->
    <div class="row" style="padding-top: 1%;">
        <div class="col-sm-4 container-fluid d-flex justify-content-center">
            <h1>  <button type="button" class="btn btn-success"></i>+  Añadir producto en venta</button> </h1>
        </div>
    </div>
    <!--Boton añadir producto-->
{% endblock contenido %}

