{% extends 'app_oracle/base.html' %}
{% load static %}
{% block contenido %}


    <div class="container-fluid d-flex justify-content-center fondoMorado">
        <h1 class="text-dark">Mis pedidos</h1>
    </div>


    <div class="container" style="margin-top: 1%; background-color:rgba(226, 226, 226, 0.815)">
    <!--Pedido 1-->    
    <lol>
        <div class="row" style="border: 1px; border-color: black;border-style: solid;">
            <div class="col-sm-4 justify-content-center">
                
                    <img class="card-img-top" src={% static ' IMG/luzAuto.jpg' %} alt="Luz auto" id="imgMisPedidos">
                    <div class="card-body">
                        <a href="Click_producto.html" class="btn btn-info ml-5 justify-content-center ">Ver producto</a>
                    </div>
                
            </div>
            <div class="col-sm-4">
                <br>
                <h5 class="ml-3">Luz Trasera camioneta</h5>
                <div class="container-fluid">
                    <div class="form-group">
                        <textarea class="form-control textareaSinMovimiento" rows="3" id="comment"
                            disabled>Foco luz Trasera Izquierda Mahindra Pik Up 2007- Original</textarea>
                    </div>
                </div>
                <div class="d-inline-flex">
                    <i class="fas fa-user fa-3x ml-3"></i>
                    <h5 class="mt-4 ml-2">Eduardo Saarabia</h5>
                </div>

            </div>
            <div class="col-sm-4">
                <br>
                <h5>°N. de seguimiento: °1262234ju121ty</h5>
                <br>
                <br>
                <div class="d-inline-flex">
                    <i class="fas fa-ban fa-3x text-danger"></i>
                    <div class="mt-2 ml-2">
                        <button type="button" class="btn-dark" data-toggle="modal"
                            data-target="#cancelarPedido">Cancelar
                            pedido</button>
                    </div>
                </div>
                <div class="container-fluid">
                    <br>
                    <br>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star-half-alt fa-3x text-warning"></i>
                </div>
            </div>
        </div>
    </lol>
    <!--Fin Pedido 1-->   

    <!--Pedido 2-->   
    <lol1>
        <div class="row" style="border: 1px; border-color: black;border-style: solid;">
            <div class="col-sm-4 justify-content-center">
                
                    <img class="card-img-top" src={% static 'IMG/luzAuto.jpg' %} alt="Luz auto" id="imgMisPedidos">
                    <div class="card-body">
                        <a href="Click_producto.html" class="btn btn-info ml-5 justify-content-center ">Ver producto</a>
                    </div>
                
            </div>
            <div class="col-sm-4">
                <br>
                <h5 class="ml-3">Luz Trasera camioneta</h5>
                <div class="container-fluid">
                    <div class="form-group">
                        <textarea class="form-control textareaSinMovimiento" rows="3" id="comment"
                            disabled>Foco luz Trasera Izquierda Mahindra Pik Up 2007- Original</textarea>
                    </div>
                </div>
                <div class="d-inline-flex">
                    <i class="fas fa-user fa-3x ml-3"></i>
                    <h5 class="mt-4 ml-2">Eduardo Saarabia</h5>
                </div>

            </div>
            <div class="col-sm-4">
                <br>
                <h5>°N. de seguimiento: °1262234ju121ty</h5>
                <br>
                <br>
                <div class="d-inline-flex">
                    <i class="fas fa-ban fa-3x text-danger"></i>
                    <div class="mt-2 ml-2">
                        <button type="button" class="btn-dark" data-toggle="modal"
                            data-target="#cancelarPedido1">Cancelar
                            pedido</button>
                    </div>
                </div>
                <div class="container-fluid">
                    <br>
                    <br>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star-half-alt fa-3x text-warning"></i>
                </div>
            </div>
        </div>
    </lol1>
    <!--Fin Pedido 2-->   

    <!--Pedido 3-->   
    <lol2>
        <div class="row" style="border: 1px; border-color: black;border-style: solid;">
            <div class="col-sm-4 justify-content-center">
                
                    <img class="card-img-top" src={% static 'IMG/luzAuto.jpg' %} alt="Luz auto" id="imgMisPedidos">
                    <div class="card-body">
                        <a href="Click_producto.html" class="btn btn-info ml-5 justify-content-center ">Ver producto</a>
                    </div>
                
            </div>
            <div class="col-sm-4">
                <br>
                <h5 class="ml-3">Luz Trasera camioneta</h5>
                <div class="container-fluid">
                    <div class="form-group">
                        <textarea class="form-control textareaSinMovimiento" rows="3" id="comment"
                            disabled>Foco luz Trasera Izquierda Mahindra Pik Up 2007- Original</textarea>
                    </div>
                </div>
                <div class="d-inline-flex">
                    <i class="fas fa-user fa-3x ml-3"></i>
                    <h5 class="mt-4 ml-2">Eduardo Saarabia</h5>
                </div>

            </div>
            <div class="col-sm-4">
                <br>
                <h5>°N. de seguimiento: °1262234ju121ty</h5>
                <br>
                <br>
                <div class="d-inline-flex">
                    <i class="fas fa-ban fa-3x text-danger"></i>
                    <div class="mt-2 ml-2">
                        <button type="button" class="btn-dark" data-toggle="modal"
                            data-target="#cancelarPedido2">Cancelar
                            pedido</button>
                    </div>
                </div>
                <div class="container-fluid">
                    <br>
                    <br>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star fa-3x text-warning"></i>
                    <i class="fas fa-star-half-alt fa-3x text-warning"></i>
                </div>
            </div>
        </div>
    </lol2><!--Fin Pedido 3-->   

    <!--Cuadro de cancelar pedido-->
    <div class="modal fade" id="cancelarPedido">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Cancelar pedido</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    ¿Estas seguro que quieres cancelar este pedido?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer flex-row justify-content-around">
                    <button type="submit" id="hide" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Si</button>
                    <button type="button" class="btn fondoMorado text-light pl-4 pr-4" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
    <!--Cuadro de cancelar pedido-->


    <!--Cuadro de cancelar pedido-->
    <div class="modal fade" id="cancelarPedido1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Cancelar pedido</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    ¿Estas seguro que quieres cancelar este pedido?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer flex-row justify-content-around">
                    <button type="submit" id="hide1" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Si</button>
                    <button type="button" class="btn fondoMorado text-light pl-4 pr-4" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>


    <!--Cuadro de cancelar pedido-->
    <div class="modal fade" id="cancelarPedido2">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Cancelar pedido</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    ¿Estas seguro que quieres cancelar este pedido?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer flex-row justify-content-around">
                    <button type="submit" id="hide2" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Si</button>
                    <button type="button" class="btn fondoMorado text-light pl-4 pr-4" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>

</div>




    <!--FOOTER-->
    <footer class="page-footer bg-dark">
        <div class="container text-center text-md-left mt-5" style="padding-top: 2%;">
            <div class="row">

                <div class="col-md-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold text-info">MEDIOS DE PAGO</h6>
                    <hr class="fondoMorado mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                    <li class="my-2 colorMorado">
                        <h7 class="text-info">Credito</h7>
                    </li>
                    <li class="my-2 colorMorado">
                        <h7 class="text-info">Debito</h7>
                    </li>
                    <li class="my-2 colorMorado">
                        <h7 class="text-info">Transferencia</h7>
                    </li>
                </div>

                <div class="col-md-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold text-info">REDES SOCIALES</h6>
                    <hr class="fondoMorado mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                    <ul class="list-unstyled">
                        <li class="my-2 text-info"><i class="fab fa-facebook mr-3 colorMorado"></i><a href="#"
                                class="text-info"> Facebook</a></li>
                        <li class="my-2 text-info"><i class="fab fa-twitter mr-3 colorMorado"></i><a href="#"
                                class="text-info"> Twitter</a></li>
                        <li class="my-2 text-info"><i class="fab fa-instagram mr-3 colorMorado"></i><a href="#"
                                class="text-info"> Instagram</a></li>
                    </ul>
                </div>

                <div class="col-md-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold text-info">NUESTRO CONTACTO</h6>
                    <hr class="fondoMorado mb-4 mt-0 d-inline-block mx-auto" style="width: 160px; height: 2px">
                    <ul class="list-unstyled">
                        <li class="my-2 text-info"><i class="fas fa-home mr-3 colorMorado"> </i> Chile,
                            concepcion,
                            calle falsa #123</li>
                        <li class="my-2 text-info"><i class="fas fa-envelope mr-3 colorMorado"></i>
                            yepaoficial@gmail.com</li>
                        <li class="my-2 text-info"><i class="fas fa-phone mr-3 colorMorado"></i> + 125469875
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold text-info">AYUDA</h6>
                    <hr class="fondoMorado mb-4 mt-0 d-inline-block mx-auto" style="width: 65px; height: 2px">
                    <li class="my-2 colorMorado"><a class="text-info" href="AyudaUsuario.html">Comprar</a></li>
                    <li class="my-2 colorMorado"><a class="text-info" href="AyudaUsuario.html">Vender</a></li>
                    <li class="my-2 colorMorado"><a class="text-info" href="AyudaUsuario.html">Resolucion de
                            problemas</a></li>
                    <li class="my-2 colorMorado"><a class="text-info" href="AyudaUsuario.html">Centro de seguridad</a>
                    </li>
                </div>
            </div>
        </div>
{% endblock contenido %}






