{% extends 'app_oracle/base.html' %}

{% block contenido %}


    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 bg-dark">
            <a class="navbar-brand" href="#"> 
                <img src="IMG/Icono YEPA.png" alt="logo" style="width:300px; height: 84px; margin-left: 15%;"> 
            </a> 
          </div>
          <div class="col-sm-5 bg-dark">
            <form class="form-inline" action="/action_page.php">
                <input type="search" class="form-control" id="search" style="width: 630px;" placeholder="Buscar producto">
                <button class="btn btn-success ml-1" type="submit">Buscar</button>
            </form>
            <div class="row">
              <div class="col-sm-12 bg-dark">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <ul class="navbar-nav">
                        <li class="nav-item"> 
                            <a class="nav-link" href="#">Categorías</a> 
                        </li> 
                        <li class="nav-item"> 
                            <a class="nav-link" href="#">Mis pedidos</a> 
                        </li> 
                        <li class="nav-item"> 
                            <a class="nav-link" href="#">Vender</a> 
                        </li> 
                        <li class="nav-item"> 
                            <a class="nav-link" href="#">Ayuda</a> 
                        </li> 
                        <li class="nav-item"> 
                            <a class="nav-link" href="#"><i class="fas fa-shopping-cart mr-1"></i>Ver carrito</a> 
                        </li> 
                        <li class="nav-item"> 
                            <a class="nav-link" href="#"><i class="fas fa-heart mr-1"></i>Ver lista de deseos</a> 
                        </li> 
        
                    </ul>

                </nav>
              </div>
            </div>
          </div>
          <!--Apartado de usuario-->
          <div class="col-sm-4 bg-dark d-inline-flex align-items-center">
            <i class="fas fa-user-circle fa-5x mr-2"></i>
            <h6 class="colorMorado">Luís Eduardo García Pedreros</h6>
            <button type="button" class="btn btn-outline-info text-light ml-2">Gestionar perfil</button>
        </div>
        <!--apartado de usuario-->
        </div>
      </div>
    <!--Barra de navegación superior-->
    <!--cuerpo de producto--> 
    <div class="row" >
        <!--IMAGEN DEL PRODUCTO--> 
        <div class="col-sm-6" style="padding-top: 1%; background-color:rgba(226, 226, 226, 0.815) ;margin-top:1%; margin-left: 3%;" >
          <div id="demo" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src={% static 'IMG/luzAuto.jpg' %} alt="Los Angeles" width="1100" height="500">
              </div>
              <div class="carousel-item">
                  <img src={% static 'IMG/luzAuto2.jpg' %} alt="Chicago" width="1100" height="500">
              </div>
              <div class="carousel-item">
                  <img src={% static 'IMG/luzAuto3.jpg' %} alt="New York" width="1100" height="500">
              </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>
          </div>
          <div class="container text-center">
          <button type="button" data-toggle="modal" data-target="#subirImagen" class="btn btn-success text-black align-self-lg-center"
          id="subirImagenButton">Subir imagen <i class="fas fa-plus fa-1x"></i></button></div>
        <h1>Descripcion del producto</h1>
        
          <!--Cuadro de subir imagen-->
          <div class="modal fade" id="subirImagen">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Subir imagen</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <input type="file" class="form-control-file border">
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer flex-row justify-content-around">
                        <button type="submit" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success text-white pl-4 pr-4"
                            data-dismiss="modal">Confirmar</button>
                    </div>

                </div>
            </div>
        </div>
        <!--Cuadro de subir imagen-->









        <!--INICIO  DE COMENTARIOS--> 
            <div class="container" style="margin-left: -2%;">
                
                <form action="/action_page.php">
                  <div class="form-group">
                    <label for="comment">Escriba la descripcion de su producto:</label>
                    <textarea class="form-control" rows="5" placeholder="Foco luz Trasera Izquierda Mahindra Pik"id="comment" name="text"></textarea>
                  </div>
                </form>
              </div>
        <!--FIN  DE COMENTARIOS--> 
        </div>
        <!--DETALLES Y TITULO--> 
        <DIV class="col-sm-4" style="padding-top: 1%; background-color: rgba(226, 226, 226, 0.815); margin-top:1%; margin-left: 2%; margin-right: 3%; margin-bottom: auto;">
            <div class="container">
                <form action="/action_page.php">
                  <div class="form-group">
                    <label for="usr">Titulo del producto:</label>
                    <input type="text" class="form-control text-lg-center" placeholder="Foco luz Trasera Izquierda Mahindra Pik 2007" id="ap">
                  </div>
                </form>
              </div>
        <br>
        <div class="container">
            <form action="/action_page.php">
              <div class="form-group">
                <label for="usr">Precio del producto:</label>
                <input type="text" class="form-control text-lg-center" placeholder="$98.000" id="ap">
              </div>
            </form>
          </div>
          <!--formas de pago--> 
        <h2>Eliga los metodos de pago admitidos</h2><div class="container">
            <form action="/action_page.php">
                <h2><i class="fab fa-cc-paypal black-text"></i></h2>
              <div class="form-check">
                <label class="form-check-label" for="check1">
                    <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>PayPal
                     </label>
                     
              </div>
              <h2><i class="fab fa-cc-visa black-text"></i></h2>
              <div class="form-check">
                <label class="form-check-label" for="check2">
                    <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>Visa
                     </label>
                 </div>

                 <h2><i class="fas fa-money-bill-alt black-text"></i></h2>
                 <div class="form-check">
                   <label class="form-check-label" for="check2">
                       <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>Efectivo
                        </label>
                    </div>
              
            </form>
            <br>
            <!--elegir categoria--> 
            <div class="container" style="margin-left: -3%;">
                <form action="/action_page.php">
                  <div class="form-group">
                    <label for="sel1">Eliga categoria:</label>
                    <select class="form-control" id="sel1" name="sellist1">
                      <option>Deporte</option>
                      <option>Tecnologia</option>
                      <option>Vehiculos</option>
                      <option>Moda</option>
                      <option>Etc</option>
                    </select>
                    <br>
                  </div>
                </form>
              </div>
          </div>
        <br></DIV>
        
    </div>
    <!--cuerpo de producto--> 
    <div class="d-flex justify-content-center">
        <div style="padding-right:7%">
          <button type="button" data-toggle="modal" data-target="#guardarcambios" class="btn btn-success text-black align-self-lg-center"
          id="subirImagenButton">Guardar Cambios</button>
    </div>
    <button type="submit" class="btn btn-danger">Cancelar</button>
    </div> 

    <!--Cuadro de guardar cambios-->
    <div class="modal fade" id="guardarcambios">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                  <h4 class="modal-title">¿Seguro que desea guardar los cambios?</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                  <p> Si da aceptar el producto pasara a revision antes de volver a ser publicado </p>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer flex-row justify-content-around">
                  <button type="submit" class="btn btn-info pl-4 pr-4" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-success text-white pl-4 pr-4"
                      data-dismiss="modal">Confirmar</button>
              </div>

          </div>
      </div>
  </div>
  <!--Cuadro de guardar cambios-->

   <!--FOOTER-->
<footer class="page-footer bg-dark">
  <div class="container text-center text-md-left mt-5" style="padding-top: 2%;">
      <div class="row">

          <div class="col-md-3 mx-auto mb-4">
              <h6 class="text-uppercase font-weight-bold text-info">MEDIOS DE PAGO</h6>
              <hr class="fondoMorado mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
              <li class="my-2 colorMorado"><h7 class="text-info">Credito</h7></li>
              <li class="my-2 colorMorado"><h7 class="text-info">Debito</h7></li>
              <li class="my-2 colorMorado"><h7 class="text-info">Transferencia</h7></li>
          </div>

          <div class="col-md-3 mx-auto mb-4">
              <h6 class="text-uppercase font-weight-bold text-info">REDES SOCIALES</h6>
              <hr class="fondoMorado mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
              <ul class="list-unstyled">
                  <li class="my-2 text-info"><i class="fab fa-facebook mr-3 colorMorado"></i><a href="#" class="text-info"> Facebook</a></li>
                  <li class="my-2 text-info"><i class="fab fa-twitter mr-3 colorMorado"></i><a href="#" class="text-info"> Twitter</a></li>
                  <li class="my-2 text-info"><i class="fab fa-instagram mr-3 colorMorado"></i><a href="#" class="text-info"> Instagram</a></li>
              </ul>
          </div>

          <div class="col-md-3 mx-auto mb-4">
              <h6 class="text-uppercase font-weight-bold text-info">NUESTRO CONTACTO</h6>
              <hr class="fondoMorado mb-4 mt-0 d-inline-block mx-auto" style="width: 160px; height: 2px">
              <ul class="list-unstyled">
                  <li class="my-2 text-info"><i class="fas fa-home mr-3 colorMorado"> </i> Chile,
                      concepcion,
                      calle falsa #123</li>
                  <li class="my-2 text-info"><i class="fas fa-envelope mr-3 colorMorado"></i>
                      yepaoficial@gmail.com</li>
                  <li class="my-2 text-info"><i class="fas fa-phone mr-3 colorMorado"></i> + 125469875
                  </li>
              </ul>
          </div>

          <div class="col-md-3 mx-auto mb-4">
              <h6 class="text-uppercase font-weight-bold text-info">AYUDA</h6>
              <hr class="fondoMorado mb-4 mt-0 d-inline-block mx-auto" style="width: 65px; height: 2px">
              <li class="my-2 colorMorado"><a class="text-info" href="AyudaUsuario.html">Comprar</a></li>
              <li class="my-2 colorMorado"><a class="text-info" href="AyudaUsuario.html">Vender</a></li>
              <li class="my-2 colorMorado"><a class="text-info" href="AyudaUsuario.html">Resolucion de problemas</a></li>
              <li class="my-2 colorMorado"><a class="text-info" href="AyudaUsuario.html">Centro de seguridad</a></li>
          </div>
      </div>
  </div>



{% endblock contenido %}








  