{% extends 'app_oracle/base.html' %}

{% block contenido %}


    <div class="container-fluid d-flex justify-content-center fondoMorado">
        <h1 class="text-dark">Publicaciones por validar</h1>
    </div>


    <div class="row" style="margin-top: 1%;">
        
        <table class="table table-hover col-1" style="background-color: aliceblue; margin-left: 2%;">
            <thead>
              <tr >
                <th>Leyenda de colores</th>
              </tr>
            </thead>
            <tbody>
                <tr  class="table-warning">
                    <td>POR REVISAR</td>
                  </tr> 
                  <tr  class="table-success">
                    <td>ACEPTADO</td>
                  </tr>
                <tr class="table-danger">
                  <td>RECHAZADO</td>
                </tr> 
                
                      
                
            </tbody>
        </table>
      
        <div class="col-1"></div>
      
    


        <table class="table table-hover col-9" style="background-color: aliceblue;">
          <thead>
         <tr >
              <th>Nombre vendedor</th>
              <th>Titulo articulo</th>
              <th>Fecha</th>
              <th>Stock</th>
              <th>Ver</th>
              
            </tr>
          </thead>
          <tbody>
            <tr class="table-warning">
              <td><a href="click_productoxvalidar.html">Juan antonio Martinez de la cruz gajardo</a></td>
              <td><a href="click_productoxvalidar.html">Mando xbox serie X</a></td>
              <td><a href="click_productoxvalidar.html">27/05/2021</a></td>
              <td><a href="click_productoxvalidar.html">100</a></td>
              
              <td><a href="click_productoxvalidar.html"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            </tr>
            <tr  class="table-warning">
                <td>Alex</td>
                <td>Enchufe xbox ONE</td>
                <td>27/01/2021</td>
                <td>10</td>
                <td>:<i class="fa fa-eye" aria-hidden="true"></i></td>
              </tr>
              <tr class="table-success">
                <td>Julio</td>
                <td>Rueda bicicleta </td>
                <td>27/05/2021</td>
                <td>1</td>
                <td>:<i class="fa fa-eye" aria-hidden="true"></i></td>
              </tr>
              <tr class="table-danger">
                <td>Juan</td>
                <td>Helicoptero Apache Fc017</td>
                <td>27/05/2021</td>
                <td>2</td>
                <td>:<i class="fa fa-eye" aria-hidden="true"></i></td>
              </tr>
              <tr class="table-success">
                <td>Aroon</td>
                <td>Escopeta recortada </td>
                <td>27/05/2021</td>
                <td>200</td>
                <td>:<i class="fa fa-eye" aria-hidden="true"></i></td>
              </tr>
              <tr class="table-success">
                <td>Fernando</td>
                <td>Ak 47</td>
                <td>27/05/2021</td>
                <td>199</td>
                <td>:<i class="fa fa-eye" aria-hidden="true"></i></td>
              </tr>
              <tr class="table-success">
                <td>Arturo</td>
                <td>Auto de 2 ruedas </td>
                <td>27/05/2021</td>
                <td>5</td>
                <td>:<i class="fa fa-eye" aria-hidden="true"></i></td>
              </tr>
              <tr class="table-success">
                <td>Alberto</td>
                <td>Excalibur</td>
                <td>27/05/2021</td>
                <td>9</td>
                <td>:<i class="fa fa-eye" aria-hidden="true"></i></td>
              </tr>
              <tr class="table-success">
                <td>Luis</td>
                <td>Esquina de mesa redonda</td>
                <td>27/05/2021</td>
                <td>4</td>
                <td>:<i class="fa fa-eye" aria-hidden="true"></i></td>
              </tr>
          </tbody>
        </table>
    </div>

{% endblock contenido %}