{% extends 'app_oracle/base.html' %}

{% block contenido %}


    <div id="profileMainDiv">
        <div id="profileMenu">
            <ul style="padding-left: 0";>
                <li><a href="#">Información del perfil</a></li>
                <li><a href="#">Agregar una tarjeta</a></li>
                <li><a href="#">Cerrar sesión</a></li>
            </ul>
        </div>
    
        <div id="profileDisplayDiv">
            <i class="fas fa-user-alt fa-4x mb-1 text-info"></i>
    
        </div>
    </div>

{% endblock contenido %}