{% extends 'app_oracle/base.html' %}
{% block title %}Vender{% endblock title %}
{% block contenido %}

<!--cuerpo de producto-->
<div class="container-fluid d-flex justify-content-center fondoMorado">
  <h1 class="text-dark">Vender producto</h1>
</div>
<div class="row">
  <!--IMAGEN DEL PRODUCTO-->
  <div class="col-sm-6 container text-center" style="padding-top: 1%; background-color:rgba(226, 226, 226, 0.815) ;margin-top:1%; margin-left: 3%;">
   <form action="" class="post">
     {% csrf_token %}
     {{ form}}
   </form> 
  </div>
    <!--Cuadro de subir imagen-->





    <!--INICIO  DE COMENTARIOS-->
    <div class="container" style="margin-left: -2%;">

      <form action="" method="POST">
        {

        <div class="form-group">

        </div>
      </form>
    </div>
    <!--FIN  DE COMENTARIOS-->
  </div>
  <!--DETALLES Y TITULO-->
  <DIV class="col-sm-4"
    style="padding-top: 1%; background-color: rgba(226, 226, 226, 0.815); margin-top:1%; margin-left: 2%; margin-right: 3%; margin-bottom: auto;">
    <div class="container">
      <form action="/action_page.php">
        <div class="form-group">
          <label for="usr">Titulo del producto:</label>
          <input type="text" class="form-control" id="usr" name="username">
        </div>
      </form>
    </div>
    <br>
    <div class="container">
      <form action="/action_page.php">
        <div class="form-group">
          <label for="usr">Precio del producto:</label>
          <input type="number" class="form-control" id="usr" name="username">
        </div>
      </form>
    </div>
    <!--formas de pago-->
    <h2>Eliga los metodos de pago admitidos</h2>
    <div class="container">
      <form action="/action_page.php">
        <h2><i class="fab fa-cc-paypal black-text"></i></h2>
        <div class="form-check">
          <label class="form-check-label" for="check1">
            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">PayPal
          </label>

        </div>
        <h2><i class="fab fa-cc-visa black-text"></i></h2>
        <div class="form-check">
          <label class="form-check-label" for="check2">
            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">Visa
          </label>
        </div>

        <h2><i class="fas fa-money-bill-alt black-text"></i></h2>
        <div class="form-check">
          <label class="form-check-label" for="check2">
            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">Efectivo
          </label>
        </div>

      </form>
      <br>
      <!--elegir categoria-->
      <div class="container" style="margin-left: -3%;">
        <form action="/action_page.php">
          <div class="form-group">
            <label for="sel1">Eliga categoria:</label>
            <select class="form-control" id="sel1" name="sellist1">
              <option>Deporte</option>
              <option>Tecnologia</option>
              <option>Vehiculos</option>
              <option>Moda</option>
              <option>Etc</option>
            </select>
            <br>
          </div>
        </form>
      </div>
    </div>
    <br>
  </DIV>

</div>
<!--cuerpo de producto-->
<div class="d-flex justify-content-center">
  <div style="padding-right:7%">
    <button type="button" data-toggle="modal" data-target="#guardarcambios"
      class="btn fondoCeleste text-white align-self-lg-center" id="subirImagenButton">Subir producto</button>
  </div>
  <button id="borrarInputsButton" type="button" class="btn fondoMorado text-white">Cancelar</button>
</div>

<!--Cuadro de guardar cambios-->
<div class="modal fade" id="guardarcambios">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">¿Seguro que desea subir el producto?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p> Si da aceptar el producto pasara a revision antes de publicarse</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer flex-row justify-content-around">
        <button type="submit" class="btn fondoMorado text-white pl-4 pr-4" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn fondoCeleste text-white pl-4 pr-4" data-dismiss="modal">Confirmar</button>
      </div>

    </div>
  </div>
</div>
<!--Cuadro de guardar cambios-->









{% endblock contenido %}